/* -----------Page Styles----------- */
body, html {
  background-color: #e9e0c3;
  color: #525252;
  margin-bottom: 0;
  scroll-behavior: smooth;
font-family: 'Indie Flower', cursive;
font-size: 1rem;
text-rendering: optimizeLegibility;

}

main {
  text-align: center;
}

h2, h3, h4{
  color: #ea5455;

}


hr {
border-color:#d6dcf0;
border-style: dotted none none none;
border-width: 12px;
height: 50px;
margin: 100px auto 50px auto;
width: 125px;
}
.boxShadow{
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
/* -----------NavBar----------- */
.navbar {
  position: absolute;
  width: 100%;
  font-size: 2rem;

}
.center {
  margin-left: auto;
}
.nav-item {
 margin-left: 30px;
}

@media (max-width: 576px) {
  .navHideItem {
    display: none;
  }

  .center {
    margin-right: auto;
  }
}

/* -----------Header----------- */
.title {
  font-size: 12vw;
  font-family: 'Shadows Into Light', cursive;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/header3.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #EAE7DC;
  display: grid;
  font-size: 5vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  text-align: center;
}

.title-text {
  border-radius: 5%;
  grid-column: 2/span 5;
  grid-row: 3/span 2;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.social-icons {
  align-self: center;
  grid-column: 3/span 3;
  grid-row: 7/-1;
}

.icon {
  color: #EAE7DC;
  font-size: 2rem;
  margin-right: .3rem;
}

@media (min-width: 576px) {
  .icon {
    font-size: 3.5rem;
  }

  .title {
    font-size: 10vw;
  }

  header {
    font-size: 6vw;
  }

  .title-text {
    grid-column: 2/span 5;
    grid-row: 3/4;
    text-align: left;
  }
}

@media (min-width: 900px) {


  .title {
    font-size: 8vw;
  }

  header {
    font-size: 3vw;
  }
}

/* -----------About Me----------- */
.aboutMe {
align-items: center;
border-radius: 25px;
justify-items: center;
background-color: #f0ead6;
display: grid;
grid-template-columns: 200px 1fr;
grid-template-rows: 200px repeat(4, 125px);
grid-template-areas:
  "image header"
  "code codeText"
  "fast fastText"
  "layout layoutText"
  "plan planText";
margin: 3% 15%;
padding-right: 1rem;
text-align: left;
}
.headerAboutMe {
  grid-area: header;
  border-bottom: 3px solid #e9e0c3;


}
.focuses{
  justify-self: left;
  padding-bottom: 10px;
}
.profilePicture {
  grid-area: image;

}
.codeIcon {
  grid-area: code;
}
.fastIcon {
  grid-area: fast;
}
.layoutIcon {
  grid-area: layout;
}
.planIcon {
  grid-area: plan;
}
.focusCode{
  grid-area: codeText;
}
.focusFast{
  grid-area: fastText;
}
.focusLayout{
  grid-area: layoutText;
}
.focusPlan{
  grid-area: planText;
}
@media (max-width: 800px){
  .focuses, .headerParagraph {
    font-size: .85rem;
  }
  .aboutMe {

    grid-template-rows: 300px repeat(4,150px);
  }

}
@media (max-width: 540px){
  .focuses, .headerParagraph {
    font-size: .8rem;
  }
  .aboutMe {
    display: block;
    text-align: center;
    padding: 0 15px;
    margin: 3% 10%;
  }
}

/* -----------Blog Advertisement----------- */
aside{
  margin: 3% 18%;
  text-align: center;

}
.blogAdvertisement{
  display: grid;
  grid-template-columns: .8fr .2fr .8fr;
  grid-template-rows: .65fr .3fr;
  grid-template-areas:
  "image1 . image2"
  "body1 . body2"
}
.ad1-image{
  grid-area: image1;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.ad2-image{
  grid-area: image2;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.ad1-body{
  grid-area: body1;
  background-color: #f0ead6;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.ad2-body{
  grid-area: body2;
  background-color: #f0ead6;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media (max-width: 800px){
  .blogText{
    display:none;
  }
  aside .btn{
    width: 80%;
    margin-bottom: 10px;
  }
  .blogHeader{
    font-size: 1rem;
  }
  aside{
    margin: 3% 10%;
  }
}


/* -----------Projects----------- */

/* -----------Footer----------- */
footer {
  background-color:#9eacdc;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
}

.fIcon {
  color: #fff;
  font-size: 1.5rem;
}
.footerIcons {
  display: flex;
  justify-content: space-around;
  margin: 0 30%;
}

.block {
  display: inline;
}
.box1 {
  background-color: #d5e2b0;
  border: 1px solid #9eacdc;
  border-bottom: none;
  width: 80vw;
  height: 15vh;
  border-radius: 25px;
  align-self: center;
  justify-content: space-around;
  position: relative;
  bottom: 5vh;
}
@media (max-width: 800px){
  .ctaHeader{
    font-size: 1rem;
  }
  .fIcon {
    color: #fff;
    font-size: 1rem;
    margin: 0 15px;
  }

}
